.vscode
.venv/
__pycache__/
*.pyc
.DS_Store
**/.DS_Store

models/*
!models/.gitkeep

images/input/*
!images/input/.gitkeep

images/output/*
!images/output/.gitkeep

*.pt
*.pth
*.onnx
*.tflite
*.log
.env

mentor_convert_code.py.DS_Store
**/.DS_Store
.vscode/
